# Folder Custom Attributes file #
.DS_Store
*.DS_STORE
*/*.DS_STORE

# Python files (Including compiled bytecode)
*.py
*.pyc

# Model Weights files
*.h5 
*weights

# Checpoint directory
.ipynb_checkpoints/

